@model LibraryArchive.ViewModels.LibrarianViewModel.LibrarianViewModel;
@using LibraryArchive.HelpingTools;

<body class="custom">
    <div id="librariansResults">
        <div class="row py-5 px-4">
            <div class="col-md-10 mx-auto">
                <div class="bg-white shadow rounded overflow-hidden">
                    <div class="px-4 pt-0 pb-4 cover">
                        <div class="media align-items-end profile-head">
                        </div>
                    </div>
                    <div class="px-4 py-5" style="margin-top: 20px;">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <div class="col-6">
                                <h3 class="mb-0" style="text-indent: 10px;">Библиотекари</h3>
                            </div>
                            <div class="col-6 text-right">
                                <a asp-controller="Librarian" asp-action="Register" class="btn btn-info">Добави библиотекар</a>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <form asp-controller="Librarian" asp-action="Index" method="get">
                                <p style="color: #402b2b; font-family: Bahnschrift;  margin-left: 20px;">
                                    Търсене:
                                    <input style="color: #402b2b; font-family: Bahnschrift;" type="text" name="SearchString" value="@((string.IsNullOrEmpty(Model.SearchString)) ? null : Model.SearchString)" placeholder="име" oninput="debounce(updateLibrarians, 300)" />
                                </p>
                            </form>
                        </div>
                        @if (Model.Librarians.Count > 0)
                        {
                            @foreach (Librarian librarian in Model.Librarians)
                            {
                                <div class="p-4 my-2 rounded shadow-sm bg-light d-flex align-items-center justify-content-between">
                                    <a class="mb-0 recent-link custom-text" asp-controller="Librarian" asp-action="Profile" asp-route-readerNumber="@librarian.UserId">@librarian.FirstName @librarian.LastName</a>

                                    <div>
                                        <a asp-controller="Librarian" asp-action="Delete" asp-route-id="@librarian.UserId">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000000" class="bi bi-backspace-fill edit-delete" viewBox="0 0 16 16">
                                                <path d="M15.683 3a2 2 0 0 0-2-2h-7.08a2 2 0 0 0-1.519.698L.241 7.35a1 1 0 0 0 0 1.302l4.843 5.65A2 2 0 0 0 6.603 15h7.08a2 2 0 0 0 2-2V3zM5.829 5.854a.5.5 0 1 1 .707-.708l2.147 2.147 2.146-2.147a.5.5 0 1 1 .707.708L9.39 8l2.146 2.146a.5.5 0 0 1-.707.708L8.683 8.707l-2.147 2.147a.5.5 0 0 1-.707-.708L7.976 8 5.829 5.854z" />
                                            </svg>
                                        </a>

                                        <a asp-controller="Librarian" asp-action="Edit" asp-route-id="@librarian.UserId" class="ml-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000000" class="bi bi-pen-fill edit-delete" viewBox="0 0 16 16">
                                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>

                            }
                        }
                        else
                        {
                            <div class="px-4">
                                <div class="p-4 rounded shadow-sm bg-light">
                                    <p class="normal-text mb-0">Няма библиотекари в библиотеката.</p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <script>
            var debounceTimer;

            function updateLibrarians() {
                var focusedElement = document.activeElement;
                var searchString = document.getElementsByName("SearchString")[0].value;

                $.ajax({
                    url: '/librarians/index',
                    method: 'GET',
                    data: { searchString: searchString },
                    success: function (data) {
                        $('#librariansResults').html($(data).find('#librariansResults').html());
                        if (focusedElement && focusedElement.focus) {
                            focusedElement.focus();
                        }
                    },
                    error: function (error) {
                        console.error('Error fetching readers: ' + error);
                    }
                });

                return false;
            }

            function debounce(func, delay) {
                clearTimeout(debounceTimer);
                debounceTimer = setTimeout(func, delay);
            }

            window.onload = function () {
                var searchStringInput = document.getElementsByName("SearchString")[0];

                searchStringInput.addEventListener("input", function () {
                    clearTimeout(debounceTimer);

                    debounceTimer = setTimeout(function () {
                        updateLibrarians();
                    }, 300);
                });

                var storedSearchString = localStorage.getItem('searchString');
                if (storedSearchString) {
                    searchStringInput.value = storedSearchString;
                    updateLibrarians();
                }
            }
        </script>
    </div>
</body>

