@model LibraryArchive.ViewModels.BookViewModel.AddBookViewModel;

<head>
    <link href="~/css/custom-style.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <link href="~/css/login-sigup.css" rel="stylesheet" type="text/css" />
</head>

<body class="dark-body">
    <div class="container">
        <div class="row justify-content-center lower">
            <div class="col-md-6 register-form-bg rounded">
                <form asp-action="Add" asp-controller="Book" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label class="control-label normal-text">Библиотечен номер</label>
                        <input asp-for="BookId" class="form-control normal-text" />
                        <span asp-validation-for="BookId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label normal-text">Заглавие</label>
                        <input asp-for="Title" class="form-control normal-text" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Genres</label>
                        <select asp-for="BookGenresIds" class="browser-default custom-select" multiple>
                            @foreach (var genre in ViewBag.Genres)
                            {
                                <option value="@genre.GenreId">@genre.Name</option>
                            }
                        </select>
                        <input type="hidden" asp-for="BookGenresIds" />
                        <span asp-validation-for="BookGenresIds" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Authors</label>
                        <select asp-for="BookAuthorsIds" class="browser-default custom-select" multiple>
                            @foreach (var author in ViewBag.Authors)
                            {
                                <option value="@author.AuthorId">@author.Name</option>
                            }
                        </select>
                        <input type="hidden" asp-for="BookAuthorsIds" />
                        <span asp-validation-for="BookAuthorsIds" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Genres</label>
                        <select asp-for="PublisherId" class="browser-default custom-select">
                            @foreach (var publisher in ViewBag.Publishers)
                            {
                                <option value="@publisher.PublisherId">@publisher.Name</option>
                            }
                        </select>
                        <input type="hidden" asp-for="PublisherId" />
                        <span asp-validation-for="PublisherId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label normal-text">Описание</label>
                        <textarea asp-for="Description" class="form-control normal-text" rows="4"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label normal-text">Година на издаване</label>
                        <input asp-for="PublicationYear" class="form-control normal-text" />
                        <span asp-validation-for="PublicationYear" class="text-danger"></span>
                    </div>  
                    <div class="form-group">
                        <label class="control-label normal-text">Език</label>
                        <input asp-for="Language" class="form-control normal-text" />
                        <span asp-validation-for="Language" class="text-danger"></span>
                    </div>
                    <div class="form-check">
                        <input asp-for="Available" class="form-check-input" />
                        <label class="form-check-label" for="Availability">Налична</label>
                    </div>
                    <div class="form-check">
                        <input asp-for="Scrapped" class="form-check-input" />
                        <label class="form-check-label" for="Scrapped">Скрапирана</label>
                    </div>
                    <div class="form-group align-items-center text-center">
                        <input type="submit" id="register" value="Добави" class="btn btn-lg dark-button" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
